.AddStudent-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Add-Student-Input {
  padding: 4px 11px;
  width: 55vw;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}
img.bida-logo {
  width: 150px;
}
input.form-input_ {
  width: 100%;
}
.form-holder {
  width: 70%;
}
button.sub-btn {
  padding: 10px;
  width: 50%;
  margin: 20px;
  background: #3b8ac7;
  border: none;
  color: white;
  border-radius: 50px;
}
.form-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Add-Student-Submit, .Add-Student-Reset {
  padding: 5px 20px;
  height: 40px;
  color: #fff;
  border: none;
  margin-left: 18px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.Add-Student-Submit {
  background-color: #6200ea;
}

.Add-Student-Reset {
  background-color: red
}

label {
  padding-left: 2%;
}
